{
  parser: "babel-eslint",
  extends: "airbnb",
  settings: {
    'import/resolver': {
      webpack: {}
    }
  },
  rules: {
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "import/extensions": [ 1, "never" ],
    "no-console": "off",
    "no-alert": "off",
    "quote-props": "off",
    "key-spacing": "off",
    "one-var": "off",
    "one-var-declaration-per-line": [ 1, "initializations" ],
    "max-len": "off",
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"]
  }
}
